<%- include('partials/header') %>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2 class="h1 display-4">Connexion</h2>
    </div>

    <% if (error.length > 0) { %>
        <ul>
            <% for( const err of error ) { %>
                <li class="alert alert-danger"><%= err %></li>
            <% } %>
        </ul>
    <% } %>

    <form method="POST" action="/login" class="card col-lg-4 offset-lg-4 shadow-sm mb-5">
        <div class="card-body">
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>

            <div class="mb-3 form-check d-flex justify-content-between">
                <div>
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
                </div>
                <button type="submit" class="btn btn-primary">Connexion</button>
            </div>

        </div>
    </form>



<%- include('partials/footer') %>